<ion-header>

    <ion-navbar>
      <ion-title>Statement of account</ion-title>

      <ion-buttons end>
        <button *ngIf="!has_output" ion-button color="primary" (click)="generate()">
            <ion-icon name="cog"></ion-icon>&nbsp;Generate
        </button>
        <button *ngIf="has_output" ion-button color="primary" (click)="print()">
            <ion-icon name="print"></ion-icon>&nbsp;Print
        </button>
      </ion-buttons>      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
  
      <ion-item *ngIf="!has_output">
        <ion-label floating>As of</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]='as_of'></ion-datetime>
      </ion-item>
  
      <ion-item *ngIf="!has_output">
        <ion-label floating>Lessee</ion-label>
        <ion-select [(ngModel)]="lessee_uid">
          <ion-option value='0'>[ALL]</ion-option>
          <ion-option *ngFor='let lessee of lessees' value={{lessee.uid}}>
            {{lessee.last_name+' '+lessee.first_name}}
          </ion-option>
        </ion-select>
      </ion-item>    

      <textarea *ngIf="has_output" class='output' disabled="disabled" [(ngModel)]="output"></textarea>

  </ion-content>
  